<h1>Most active people based on the number of total contributions</h1>
<ul>
	<% @people.each do |person| %>
		<li>
			<%= link_to person_path(person[:id]) do %>
				<%= person[:name] %> (<%= person[:count] %>)
			<% end %>
		</li>
	<% end %>
</ul>

