<h1><%= @person[:name] %> Order Paper Items</h1>

<% if(@person[:order_paper_items].empty?) %>
    <p>No order paper items</p>
<% else %>
	<ul>
		<% @person[:order_paper_items].each do |item| %>
			<li>
				<%= link_to order_paper_item_path(item[:id]) do %>
					<%= item[:title] %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>