	<label>
		<%= check_box_tag "index_checked", "checked", @indexed_status %>
		Indexed
	</label>
	<br>
	<label>
		<%= check_box_tag "junk_checked", "junk", @junk_status %>
		Mark as Junk
	</label>
	<br>