<h1><%= @person[:name] %> Written Answers</h1>

<ul>
	<% @person[:written_answers].each do |answer| %>
		<li>
			<%= link_to written_answer_path(answer[:id]) do %>
				<%= truncate(strip_tags(answer[:text]), length: 100) %>
			<% end %>
		</li>
	<% end %>
</ul>