<h1>Committees</h1>

<form action="<%= url_for(search_index_path) %>" data-automation-context="Committee search">
	<fieldset>
		<legend>Committee search</legend>
		<input type="hidden" name="filters[parl:Committee]" value="on">
		<input name="q">
		<button>Search</button>
	</fieldset>
</form>

<ul>
	<% @committees.each do |committee| %>
		<li>
			<%= link_to committee_path(committee[:id]) do %>
				<%= committee[:name] %>
			<% end %>
		</li>
	<% end %>
</ul>