<h1>Concepts</h1>

<form action="<%= url_for(search_index_path) %>" data-automation-context="Concept search">
	<fieldset>
		<legend>Concept search</legend>
		<input type="hidden" name="filters[skos:Concept]" value="on">
		<input name="q">
		<button>Search</button>
	</fieldset>
</form>

<h2>Ranked by number of contributions</h2>

<ul>
	<% @concepts.each do |concept| %>
		<li>
			<%= link_to concept_path(concept[:id]) do %>
				<%= concept[:label] %> (<%= concept[:count] %>)
			<% end %>
		</li>
	<% end %>
</ul>