<h1>Most popular concepts</h1>
<h2>TODO order by the sum of total or average contributions per concept</h2>

<ul>
	<% @concepts.each do |concept| %>
		<li>
			<%= link_to concept_path(concept.id) do %>
				<%= concept.label %>
			<% end %>
		</li>
	<% end %>
</ul>