<h1>Concepts</h1>
<h2>Ranked by number of contributions</h2>

<ul>
	<% @concepts.each do |concept| %>
		<li>
			<%= link_to concept_path(concept[:id]) do %>
				<%= concept[:label] %> (<%= concept[:count] %>)
			<% end %>
		</li>
	<% end %>
</ul>