<h1><%= @concept.label %></h1>
<%= link_to concept_oral_questions_path(@concept.id) do %>
	<h2>Oral questions related to this concept</h2>
<% end %>
<%= link_to concept_written_questions_path(@concept.id) do %>
	<h2>Written questions related to this concept</h2>
<% end %>
<%= link_to concept_divisions_path(@concept.id) do %>
	<h2>Divisions related to this concept</h2>
<% end %>
