<h1><%= @concept.label %></h1>
<h2>Members that have tabled questions with this subject</h2>
<ul>
	<% @tabling_members.each do |person| %>
		<li>
			<%= link_to person_path(person.id) do %>
				<%= person.name %>
			<% end %>
		</li>
	<% end %>
</ul>