<h1>Home</h1>

<ul>
	<li>
		<%= link_to houses_path do %>
			Houses
		<% end %>
	</li>
	<li>
		<%= link_to concepts_path do %>
			Concepts
		<% end %>
	</li>
	<li>
		<%= link_to people_path do %>
			People
		<% end %>
	</li>
</ul>
