<h1><%= @person_name %></h1>

<ul>
	<% @votes.each do |item|%>
		<li>
			<dl>
				<dt>
					<%= link_to division_path(item[:division_id]) do %>
						<%= item[:division_title] %> 
					<% end %>
				</dt>
				<dd><%= item[:value] %></dd>
			</dl>
		</li>
	<% end %>
</ul>