<h1><%= @person[:name] %> Voting Record</h1>

<ul>
	<% @person[:divisions].each do |division|%>
		<li>
			<dl>
				<dt>
					<%= link_to division_path(division[:id]) do %>
						<%= division[:title] %> 
					<% end %>
				</dt>
				<dd><%= division[:vote_value] == 'true' ? 'Content' : 'Not content' %></dd>
			</dl>
		</li>
	<% end %>
</ul>